<div ng-controller="homeController" class="home col-md-12" ng-init="getStocks()">
    <div class="col-md-12 btns">
        <button class="btn glyphicon {{btnClass}}" ng-click="toggleOrder()"></button>
            <button class="btn glyphicon" ng-click="getFeed()">Get Feed</button>
            <div>Status : {{status}}</div>
            <div>User Info : {{userInfo}} {{demo}}</div>
            <div>User Info2 : {{userInfo2}} {{demo}}</div>
        
    </div>
    <div style="clear:both"></div>
</div>