.top-nav {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
}
.top-nav .top-line{
    height:10px;
    background-color: #2aabd2;
}
.top-nav .menu-item{
    height:45px;
    padding: 10px 10px 0 10px;
    font-size: 26px;
    text-align: center;
    float:left;
}
.top-nav .signout{
    height:45px;
    padding: 10px 10px 0 10px;
    font-size: 20px;
    text-align: center;
    background-color: #f2f2f2;
    float:right;
}

.top-nav .menu-item:hover{
    border-bottom-width: 5px;
    border-bottom-style: groove;
    border-bottom-color: #2aabd2;
    cursor: pointer;
}
.bottom-line{
    height:30px;
}
.bottom-line div{
    height:25px;
    float:right;
}

.home{
    padding: 0;
    text-align: center;
}
.home .btns{
    float:left;
    height:50px;
    width:100%;
}
.home .btns button{
    float:left;
}
.stock-item{
    max-width:800px;
    padding: 10px 10px 0 10px;
    font-size: 16px;
    margin-left: 60px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;

}

.stock-item .img{
    height:55px;
    /*background-image: url("../images/amazon-logo.png");*/
    background-repeat: no-repeat;
    background-size: contain;

}
.stock-item .title{
    height:55px;
    padding: 10px 10px 0 10px;
    font-size: 24px;
}
.stock-item .details{
    height:55px;
    padding: 10px 10px 0 10px;
    font-size: 13px;
}
.stock-item .more{
    height:55px;
    padding: 10px 10px 0 10px;
    font-size: 24px;
}

.home .warning{
    color:red;
}